.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .image-container .image-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
} */