:is(.titleContainer, .type-project) {
  font-family: "Noto Sans Display", Verdana;
}
.container-projects {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 30px;
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.container-post {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin-bottom: 50px;
  text-decoration: none;
}
.titleContainer {
  color: #000;
}
.titleContainer .type-project {
  position: relative;
  font-size: 13px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.titleContainer .type-project:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 70%;
  background-color: #fff;
}
.container-post .titleContainer .title-wrapped {
  height: 34px;
  overflow: hidden;
}
.container-post .titleContainer .title-wrapped span {
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: .5s ease-in-out;
}
.container-post:hover .title-wrapped span {
  transform: translateY(-34px);
}
.container-post .imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 196.88px;
  overflow: hidden;
  background-color: #fff;
}
.container-post .imageContainer img {
  width: 100%;
  transition: 1s ease-in-out;
}
.container-post:hover .imageContainer img {
  transform: scale(1.1);
}

@media (min-width: 500px) {
  .container-projects {
    padding-top: 235px;
  }
}