.container-project {
  transition: 0.2s ease-in-out;
}
.container-project.off {
  opacity: 0;
}
.container-imageHeader {
  width: 90%;
  max-width: 860px;
  padding-top: 150px;
  /* height: 270px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.container-imageHeader .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container-imageHeader .imgBox .image-container {
  margin: 0;
}
.container-imageHeader h1 {
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Yaldevi", Verdana, Geneva, Tahoma, sans-serif;
}
.container-content :is(h1, h2, h3, h4) {
  font-family: "Yaldevi", Verdana, Geneva, Tahoma, sans-serif;
}

.nextProject {
  position: relative;
  /* height: 400px; */
  width: 90%;
  max-width: 500px;
  margin: 150px auto;
  cursor: pointer;
}
.nextProject .imgBox {
  width: 100%;
  max-height: 281px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.nextProject .imgBox .image-container {
  transition: 1s ease-in-out;
}
.nextProject:hover .imgBox .image-container {
  transform: scale(1.1);
}

.nextProject .nextProject-name {
  text-transform: capitalize;
  font-size: 50px;
  font-family: "Yaldevi";
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.nextProject .nextProject-name span {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.nextProject .nextProject-name span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 1s ease-in-out;
}
.nextProject:hover .nextProject-name span:before {
  left: 0;
  width: 100%;
}

.nextProject .nextProject-next {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  height: 20px;
  margin-top: 10px;
  overflow: hidden;
  /* background-color: #fff; */
}
.nextProject .nextProject-next span {
  transition: 1s ease-in-out;
}
.nextProject:hover .nextProject-next span {
  transform: translateY(-20px);
}

@media (min-width: 1024px) {
  .container-imageHeader {
    padding-top: 85px;
  }
}