.container-menu_options {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 600px;
  z-index: 102;
  transition: 1s ease-in-out;
}
.container-bg.off ~ .container-menu_options {
  max-width: 300px;
}
.container-menu_options .bx-logo {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 500px) {
  .container-menu_options {
    top: 72px;
  }
  .container-menu_options .bx-logo {
    font-size: 24px;
  }
}