.container-projects__button {
  display: block;
  color: #fff;
  padding: 6px 3px;
  text-decoration: none;
  transform: translateY(0%);
  transition: 1s ease-in-out 1.5s,
    /* background 0.5s ease-in-out 0s,
    color 0.5s ease-in-out 0.2s */;
  overflow: hidden;
}

.container-bg.off .container-projects__button {
  transform: translateY(50%);
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.container-projects__button .word_container {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
}

.container-projects__button .word_container :is(.word__container-first-word, .word__container-second-word) {
  display: flex;
  transform: .5s;
  transform: 1000ms;
}
.container-projects__button .word_container .word__container-second-word {
  position: absolute;
  left: 0;
  top: 0;
}
.container-projects__button .word_container .word__container-second-word span {
  transform: translateY(110%);
  color: #ddd;
}

.container-projects__button .border {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: #fff;
  transition: 0.5s ease-in-out 0s;
}
.container-projects__button:hover .border {
  width: 90%;
}
@media (min-width: 1024px) {
  .container-projects__button {
    display: block;
    margin-top: 22px;
    margin-right: 20px;
  }
}
