.container-projects__button {
  display: block;
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
  transform: translateY(0%);
  transition: 1s ease-in-out 2s;
}
.container-bg.off .container-projects__button {
    transform: translateY(50%);
    transition: 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.container-projects__button span {
    font-size: 20px;
}
.container-projects__button .border {
    width: 100%;
    height: 1px;
    background-color:#fff;
}